/*for suggestion list*/

.hint-wrapper {
    position: relative;
    display: block;
}

.search-input {
    min-width: 240px;
    max-width: 300px;
}

.hint-list {
    list-style-type: none;
    position: absolute;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    z-index: 10000;
    top: 30px;
    padding: 5px;
    min-width: 240px;
    max-width: 300px;
    box-shadow: 0px 3px 3px #f2f2f2;
}

.hint-list li {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.selected {
    background-color: #f2f2f2;
}
